<div id="usert_show" class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
        <div class="panel-body">
          <h1><%= @user.name %></h1>
          <p> <%= @user.email %></p>
        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col-md-6 btn-group pull-right">
                <%= link_to "戻る", root_path , class:"btn btn-default"%>
                <%= link_to "編集", edit_user_path , class: "btn btn-default"%>
                <%= link_to "削除", user_path, method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-default"%>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
