<h1>
  <%= @post.title %>
</h1>

<p>
  <%= @post.description %>
</p>

<%= link_to "戻る", root_path %>
<%= link_to "編集", edit_post_path %>
<%= link_to "削除", post_path, method: :delete, data: { confirm: "本当に削除しますか？" }%>
