<div id="post_show" class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading post_image">
        <%= image_tag @post.image.url(:medium)%>
      </div>
        <div class="panel-body">
          <h1><%= @post.title %></h1>
          <p> <%= @post.description %></p>
          <p> <%= @post.user.email %></p>

        </div>

        <% if logged_in?%>
        <div class="panel-footer">
          <div class="row">
            <div class="col-md-6 btn-group pull-right">
                <%= link_to "戻る", root_path , class:"btn btn-default"%>
                <%= link_to "編集", edit_post_path , class: "btn btn-default"%>
                <%= link_to "削除", post_path, method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-default"%>
                <p><%= link_to "購入", "/products/#{@post.product_id}" , class:"btn btn-primary"%></p>
            </div>
          </div>
        </div>
        <% else %>

        <% end %>

      </div>
  </div>
</div>
