<!DOCTYPE html>
<html>
  <head>
    <title>Ikittokei~時計を自慢して、そのままウットケイ！~</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-brand">
          <%= link_to "IKITTOKEI ~時計の転売サイト", root_path%>
          <% if logged_in?%>
          <ul class="navbar-nav navbar-right">
            <li class="nav-item" style="list-style:none;">
              <a class="nav-link"><%= link_to "新規投稿", new_post_path %></a>
            </li>
            <li class="nav-item" style="list-style:none;">
              <a class="nav-link"><%= link_to "ユーザー一覧", users_path %></a>
            </li>
            <li class="nav-item" style="list-style:none;">
              <a class="nav-link"><%= link_to "ログアウト", logout_path, method: :delete %></a>
            </li>

              <li class="nav-item" style="list-style:none;color:#A52A2A;">
                <strong><p>@<%= current_user.name %></p></strong>

            </li>


          </ul>


          <% else %>
          <ul class="navbar-nav navbar-right">
            <li class="nav-item" style="list-style:none;">
              <a class="nav-link"><%= link_to "新規登録", signup_path %></a>
            </li>
            <li class="nav-item" style="list-style:none;">
              <a class="nav-link"><%= link_to "ログイン", login_path %></li></a>
            </li>
          </ul>
          <% end %>
        </div>
      </div>
    </nav>

    <div class="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: "alert alert-info"%>
      <% end %>

      <%= yield %>
    </div>

  </body>
</html>
